/* Commentry.css */

.commentry-container {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.commentry-header {
  text-align: center;
  margin-bottom: 10px;
  font-size: small;
}

.commentry-content {
  margin-bottom: 20px;
}

.player-row {
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.player-row:nth-child(2) {
  background-color: #fff; /* Set background color of the second row to white */
}

.commentry-summary {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

.commentry-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: left;
}

.commentry-table th {
  border: 1px solid ;
  padding: 6px;
  text-align: left;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 16px; /* Set font size of column headers */
}

.commentry-table th:not(:first-child) {
  border-left: none; /* Remove left border from all but the first column */
}

.commentry-table th.player-name-column {
  width: 40%;
}

.commentry-table th.runs-column,
.commentry-table th.balls-column,
.commentry-table th.sixes-column,
.commentry-table th.fours-column,
.commentry-table th.strike-rate-column {
  width: 12%;
  font-weight: 400; /* Set font weight of column headers */
}

.commentry-table th,
.commentry-table tfoot td {
  border: none;
}
