.NavbarContainer_22{
    height: 8vh;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 8px;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.NavbarContainer_22{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.centralLinks_22 {
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: black;
}

.navlink{
    color:gray;
    text-decoration: none;
}
.active{
    text-decoration: none;
    color: black;
}

.authBtn_22{
    display: flex;
    gap: 15px;
}

.navBtn_22{
    border: 1px solid gray;
    padding: 5px 17px;
    border-radius: 5px;
}
.link{
    color: black;
    text-decoration: none;
}


@media (max-width:760px) {
    .centralLinks_22{
        display: none;
    }
    .link{
        font-size: 10px;
        color: black;
        text-decoration: none;
    }
    .navBtn_22{
        border: 1px solid gray;
        padding: 3px 9px;
        border-radius: 5px;
    }
    .authBtn_22{
        display: flex;
        gap: 5px;
    }
}