.score-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: auto;
  scrollbar-width: none;
  max-height: 60vh;
}

.team-name {
  text-align: center;
  margin-bottom: 10px;
}

.player-table {
  width: 100%;
  border-collapse: collapse;
}

.player-table th,
.player-table td {
  border: 0px solid #ddd;
  padding: 8px;
  font-weight: 200;
  font-size: 24px;
}

.player-table th {
  background-color: #ccc;
  text-align: left;
  font-weight: 300;
}

.player-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.player-table tbody tr:hover {
  background-color: #f0f0f0;
}
