.scorecard_32 {
    height: 100%;
    width: 95%;
    margin-right: 10%;
  }
  
  h3 {
    font-weight: 300;
  }

  h1{
    font-weight: 400;
  }
  
  .navigation-bar_32 {
    display: flex; /* Add display flex */
    margin-top: 20px;
    border-bottom: 1px solid #ccc; /* Add bottom border */
    padding-bottom: 5px;
    width: 100%;
    justify-content: space-around;
  }
  
  
  .navigation-bar_32 button {
    cursor: pointer;
    width: fit-content;
    background-color: transparent;
    border: none; 
  }
  
  .navigation-bar_32 button:focus {
    color: blue; /* Change color on hover */
  }
  
  .navigation-bar_32 button.selected {
    border-bottom: 2px solid blue; /* Add underline for selected button */
  }
  .visible{
    display: block;
  }
  .hidden{
    display: none;
  }
  .secondry{
    background-color: red;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
  
  :root {
    --primary-clr: #7522e6;
    --bg-clr: #f2f4f5;
    --white-bg: #fff;
    --dark-text-clr: #363b46;
    --light-text-clr: #fff;
    --hover-clr: #f1e8fd;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  @media (max-width:760px) {
    .navigation-bar_32  {
     padding: 0px 20px;
     overflow-x:scroll;
     background: transparent;
    }
    
  }