.scoreCard-32{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top:40px;
}



@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --primary-clr: #7522e6;
  --bg-clr: #f2f4f5;
  --white-bg: #fff;
  --dark-text-clr: #363b46;
  --light-text-clr: #fff;
  --hover-clr: #f1e8fd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* LiveScore.css */
.live-score-container_32 {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  white-space: nowrap;
  min-width: 18%;
  max-width: fit-content;
}



.live-score-container_32 h2 {
  font-size: 18px;
  color: #333;
}

.live-score-container_32 p {
  font-size: 16px;
  color: #666;
}

.live-score-container_32 h6 {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
  text-decoration: underline;
  cursor: pointer;
}

/* Styling for NavLink */
.live-score-container_32 a {
  text-decoration: none;
  color: #000;
}
.navlinkStyleAtCard{
  text-decoration: none;
}
@media (max-width:760px) {
  .live-score-container_32{
    min-width: 90%;
  }
  .scoreCard-32{
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
  }
}

