.box_18Atadd {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 98%;
    margin-top: 10px;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 40px;
    margin-left: 50px;
    width: 100%; /* Adjusted to full width for responsiveness */
}

.form__field,
.form__fiel,
#mcode {
    font-family: inherit;
    width: 40%; /* Adjusted to full width for responsiveness */
    border: 0;
    border-bottom: 2px solid grey;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field:focus,
.form__fiel:focus,
#mcode:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #11998e;
        font-weight: 700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: grey;
    width: fit-content;
}

.sap {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
}

.sb {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(16, 127, 6);
}
.disable{
    background-color: #478749;
    cursor: not-allowed;

}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
    .form__group {
        margin-left: 0; /* Adjusted to center on small screens */
    }
    .sap {
        flex-direction: column; /* Stack items vertically on small screens */
    }
    #mcode {
        width: 100%; /* Adjusted to full width for responsiveness */
    }
}
