.outer-box_18 {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  aspect-ratio: 3/2;
  min-width:250px !important;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}
.formAtNoBall{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.formAtNoBall .inputFieldAtlogin_22 input{
  width: 200% !important;
}

.done {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 180px;
}

.done:hover {
  background-color: #0056b3;
}

.cbox
{
    margin: 0%;
    width: auto;
}

.label
{
    display: inline;
    margin-left: 5px;
}