.Outer-box {
    height: 100%;
    width: 90%;
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.protector {
    height: 75% !important;
    width: 75vw !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}

.tempAtSCore {
    width: 40%;
}

.temp2Score {
    width: 45%;
}

.score {
    width: 100%;
    height: 33%;
    background-color: #f8f8f8;
    
    border: 1px solid #c9c9c9;
    color: #000000;
}

.first {
    color: black;
    font-size: 50px;
    margin: 0 auto;
}

.second {
    color: black;
    font-size: 20px;
    margin-top: 23px;
}

.div1 {
    width: 100%;
    height: 33%;
    border-bottom: 1px solid #c9c9c9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
    width: 100%;
    height: 33%;
}

.subdiv1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
    border-right: 1px solid #c9c9c9;
}

.icin {
    width: 20px !important;
    height: 20px !important;
}

.subdiv2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-right: 2px solid grey;
    color: white;
}

.div2 {
    display: flex;
}

h4,
h5 {
    color: white;
}

.rikin {
    color: white;
}

.bowl {
    width: 100%;
    height: 150px;
    background-color: rgb(114, 131, 160);
    overflow-x: scroll;
}

.bowlerName {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    color: white;
}

.span {
    display: inline-block;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}

.round {
    border-radius: 50%;
    height: 50px !important;
    width: 50px !important;
    margin: 10px;
    background-color: white;
    text-align: center;

}

.main_18_inner {
    display: flex;
    width: fit-content;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    width: 100%;

}

.grid div {
    border: 1px solid #000000;
    text-align: center;
}

.scorebutton_18 {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
}

.score1button_18 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vivek {
    background-color: #f8f8f8;
    color: #000000;
    font-size: 1rem;
}

.Rikin {
    color: #ffffff;
    font-size: 1rem;
}

.icin {
    color: black
}

.atScoreBtnContainer {
    border: 1px solid #ccc;
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.atScoreBtnContainer button {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 17px;
    border-radius: 5px;
    width: 25%;
    background-color: #7522e6;
    color: white;
    padding: 15px;
    cursor: pointer;
}


@media (max-width:800px) {
    .Outer-box {
        height: fit-content;
        width: 90vw;
        background-color: rgb(253, 253, 253);
        border-radius: 5px;
        margin-left: 50px !important;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        place-self: center;
        border: 1px solid #ccc;
        padding-top: 50px !important;
    }

    .protector {
        height: fit-content;
        width: 75vw !important;
        margin: 0 !important;
        display: grid;
        margin-bottom: 0;
    }

    .tempAtSCore {
        width: 90%;
    }

    .temp2Score {
        width: 90%;
    }

    .atScoreBtnContainer {
        border: 1px solid #ccc;
        background-color: rgb(253, 253, 253);
        border-radius: 5px;
        padding: 20px;
        margin-top: 10px;
        width: 90%;
        margin-left: 50px !important;
        display: flex;
        flex-direction: column;
    }

}