.atBatsman-outer-box {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #ccc;
  padding: 20px;
}

.atBatsman-inside-box {
  border: 2px solid #ccc;
  padding: 20px;
}

.atBatsman-card-row {
  display: flex; /* Use flexbox */
}

.atBatsman-card {
  border: 1px solid #ccc;
  padding: 20px; /* Increase padding for more height */
  margin-right: 20px; /* Adjust margin as needed */
  width: 150px; /* Set width */
  height: 150px; /* Set height */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  transition: margin 0.3s ease; /* Smooth transition for margin */
}

.atBatsman-card:hover {
  cursor: pointer;
}


.atBatsman p {
  margin-top: 15px;
  margin-bottom: 15px; /* Add margin between paragraphs */
}

.atBatsman-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.atBatsman-custom-button {
  background-color: #007bff; /* Blue */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 45%;
}

.atBatsman-custom-button:hover {
  background-color: #0056b3; /* Darker blue */
}

.atBatsman-custom-button:active {
  background-color: #004185; /* Slightly darker blue */
}


.atBatsman-outer-box {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px; /* Yellow */
  padding: 20px;
  background-color: #f8f9fa; /* Light gray */
}
.atBatsman-selected {
  background-color: #d4edda !important;
  border: 1px solid green !important;
  color: green;
}

.atBatsman-inside-box {
  padding: 20px;
  border: none;
}

.atBatsman-card-row {
  display: flex;
}

.atBatsman-card {
  border: 1px solid #ccc; /* Yellow */
  padding: 20px;
  margin-right: 20px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin 0.3s ease;
  background-color: #f8f9fa; /* Light gray */
}

.atBatsman-card:last-child {
  margin-right: 0;
}

.atBatsman p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.atBatsman-custom-button {
  background-color: #007bff; /* Blue */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 45%;
}

.atBatsman-custom-button:hover {
  background-color: #0056b3; /* Darker blue */
}

.atBatsman-custom-button:active {
  background-color: #004185; /* Slightly darker blue */
}
