.atToss-outer-box {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  border: 1px solid #ccc; /* Yellow */
  padding: 20px;
  background-color: #f8f9fa; /* Light gray */
}

.atToss-inside-box {
  height: 80%;
  padding: 20px;
}

.atToss-card-row {
  display: flex;
}

.atToss-card {
  border: 1px solid #c1bfbf !important; /* Yellow */
  padding: 20px;
  margin-right: 20px;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin 0.3s ease;
  background-color: #f8f9fa; /* Light gray */
}

.atToss-card:hover {
  cursor: pointer;
}

.atToss-card:last-child {
  margin-right: 0;
}

.atToss-selected {
  background-color: #d4edda !important;
  border: 1px solid green !important;
  color: green;
}

.atToss-custom-button {
  background-color: #007bff; /* Blue */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 45%;
}

.atToss-custom-button:hover {
  background-color: #0056b3; /* Darker blue */
}

.atToss-custom-button:active {
  background-color: #004185; /* Slightly darker blue */
}
